body{
    font-family: 'Poppins', sans-serif;
    padding: 0 0;
    background-color: rgb(234, 232, 232);

}

a{
    text-decoration: none;
}

.header{
    
    z-index: 200;
    background-color: #2370f4;
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 35px;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 180px;
    padding-right: 70px;

    /* box-shadow: 2px 5px 10px rgba(0,0,0,0.14); */
   
}

.logo-img{
    width: 75px;
    margin-top: 5px;
}

.search-input{
    padding: 10.4px 15px;
    min-width: 285px;
    margin-left: 5px;
    border: none;

    box-shadow: 2px 2px 3px rgba(0,0,0,0.14);
    border-radius: 2px;
    
    
}

.search-input:focus{
    outline: none;
}

.login-btn{
    background-color: white;
    color:#2370f4;
    font-weight: 600;
    font-size: 16px;
    padding: 6px 40px;
    border: none;
    border-radius: 1px;
    margin-left: 7px;
    margin-right: 15px;

    cursor: pointer;

}


.header-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 15px;

}

.header-links .link{
    margin-right: 35px;
}


.link a{
    color: white;
    font-weight: 600;
    font-size: 15px;
    text-decoration: none;
    margin-right: 5px;
}

.header div{
    margin-right: 5px;
}

.search{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 2px;
    
    

}


.search-icon{
    background-color: white;
    width: 36px;
    height: 36px;
    padding-right: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: -2px;

    border-radius: 2px;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.14);

    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    
   
}


.header-links ion-icon{
    color: white;
    font-size: 25px;
}

.cart{
    display: flex;
    justify-content: center;
    align-items: center;
}

ion-icon{
    color: #2370f4;
    font-size: 20px;
    --ionicon-stroke-width: 60px;
}


.section-1{
    background-color: white;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    
    padding-top: 15px;
    padding-bottom: 10px;


    display: flex;
    justify-content:space-around;
    align-items: center;

    border-bottom: 1px solid rgba(0,0,0,0.14);
    box-shadow: 1px 1px 1px rgba(0,0,0,0.1);

}

.block .img{
    width: 65px;
}


.block .img-text{
    font-size: 13px;
    font-weight: 500;
}

.block{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.block .img-text a{
    text-decoration: none;
    color: black;
}

.block .img-text a:hover{
    color: #2370f4;

}


.section-2{
    display: flex;
    justify-content: space-between;
    align-items:first center;

    background-color: white;
    position: absolute;
    right: 0;
    left: 10px;
    top: 505px;
    height: 350px;

    overflow: hidden;

    border-bottom: 1px solid rgba(0,0,0,0.14);
    box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}


.item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.item-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.section-2 img{
    width: 200px;
    margin-bottom: 20px;
}

.section-2 img:hover{
    width: 210px;
    margin-right: -10px;
}


.item-name{
    color: black;
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 5px;
}

.item-price{
    color: #388e3c;
    font-size: 15px;
    margin-bottom: 5px;
}

.item-company{
    color: gray;
    font-size: 12px;
}


.view-items-btn{
    color: white;
    font-weight: 500;
    font-size: 12px;
    background-color: #2370f4;
    border-radius: 2px;
    border: none;
    padding: 12px 20px;
    margin-top: 20px;

    cursor: pointer;

    box-shadow: 2px 3px 3px rgba(0,0,0,0.1);
}

.category{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-right: -30px;

    width: 17%;
    height: 350px;
}

.category-title{
    font-size: 30px;
    text-align: center;
}

.middle{
    position: absolute;
    top: 870px;
    right: 0;
}

.bottom{
    position: absolute;
    top: 1230px;
    right: 0;
}

.banner{
    position: absolute;
    top: 173px;
}

.banner img{
    width: 1250px;

}

.footer{
    position: absolute;
    top: 1600px;
    left: 0;
    right: 0;
    
    background-color: #172337;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 50px;
}

.footer a{
    text-decoration: none;
    color: white;
    font-size: 13px;
}